.dashboard {
    display: flex;
    flex: 83%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.dashboard-body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url("../public/body.jpg");
    background-size: cover;
    opacity: 0.3;
    z-index: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    flex: 10;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex: 1;
}