.dashboard {
    display: flex;
    flex: 83%;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.dashboard-body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    /* background-image: url("../public/body.jpg");
    background-size: cover; */
    opacity: 0.3;
    z-index: 0;
}

.name {
    display: flex;
    flex: 2.5;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    z-index: 1;
}

.header {
    display: flex;
    flex: 0.6;
    align-items: center;
    margin-left: 5%;
    color: #F44336;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    z-index: 1;
}

.line {
    width: 60px;
    height: 10px;
    border: 4px solid #FF0000;
    border-radius: 5px;
    z-index: 1;
}

.dash {
    display: flex;
    flex: 5;
    z-index: 1;
    align-items: center;
}

.card {
    display: flex;
    flex: 0.9;
    margin-left: 5%;
    height: 80%;
    z-index: 2;
    opacity: 0.8;
    flex-direction: row;
    margin-bottom: 2%;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

.section {
    display: flex;
}

.section1 {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 5;
}

.section1 img {
    margin-top: 15px;
    margin-left: 13%;
}

.section1 h3 {
    margin-top: 10px;
    color: white;
    margin-left: 10%;
}

.section2 {
    align-items: flex-start;
    flex-direction: column;
    flex: 7;
}

.section2 h3 {
    margin-top: 11.3%;
    color: white;
}

.filters {
    filter: invert(37%) sepia(23%) saturate(7485%) hue-rotate(341deg) brightness(98%) contrast(95%);
}

.filters:hover {
    filter: invert(13%) sepia(84%) saturate(7478%) hue-rotate(1deg) brightness(103%) contrast(113%);
    cursor: pointer;
}
/* 
.popover_header {
    background-color: black;
}

.bs-popover-end > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after {
    border-right-color:black;
} */
